@page
@using MartinCostello.AppleFitnessWorkoutMapper;
@using MartinCostello.AppleFitnessWorkoutMapper.Pages;
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css" integrity="sha512-YzwGgFdO1NQw1CZkPoGyRkEnUTxPSbGWXvGiXrWk8IeSqdyci0dEDYdLLjMxq1zCoU0QBa4kHAFiRhUL3z2bow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-toggle/3.6.1/bootstrap4-toggle.min.css" integrity="sha512-EzrsULyNzUc4xnMaqTrB4EpGvudqpetxG/WNjCpG6ZyyAGxeB6OBF9o246+mwx3l/9Cn838iLIcrxpPHTiygAA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/static/css/styles.css" asp-append-version="true">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://maps.googleapis.com">
    <link rel="preconnect" href="https://maps.gstatic.com">
    <meta name="description" content="Visualise multiple journeys from Apple Fitness on a map">
    <meta name="author" content="Martin Costello">
    <title>Apple Fitness Workout Mapper</title>
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://github.com/martincostello/apple-fitness-workout-mapper" rel="nofollow" target="_blank">
            <img src="~/static/images/apple.svg" class="d-inline-block align-top" width="30" height="30" aria-hidden="true" asp-append-version="true" />
            Apple Fitness Workout Mapper
        </a>
        <form class="form-inline ml-auto">
            <input type="checkbox"
                   id="show-polygon"
                   data-toggle="toggle"
                   data-off="Polygon"
                   data-offstyle="secondary"
                   data-on="Polygon"
                   data-onstyle="primary"
                   data-size="sm">
            <div class="ml-1 mr-1"></div>
            <input type="checkbox"
                   id="unit-of-distance"
                   data-toggle="toggle"
                   data-off="Kilometres"
                   data-offstyle="secondary"
                   data-on="Miles"
                   data-onstyle="primary"
                   data-size="sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link lead ml-2 mr-2 text-white" href="https://github.com/martincostello/apple-fitness-workout-mapper/blob/main/docs/help.md#help" rel="nofollow" target="_blank">
                        <i class="bi-question-circle" aria-hidden="true"></i> Help
                    </a>
                </li>
            </ul>
        </form>
    </nav>
    <div id="container"
         data-start-date="@(Model.StartDate)"
         data-end-date="@(Model.EndDate)"
         data-google-api-key-name="@(nameof(Model.GoogleMapsApiKey))"
         data-google-api-key-value="@(Model.GoogleMapsApiKey)">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap4-toggle/3.6.1/bootstrap4-toggle.min.js" integrity="sha512-bAjB1exAvX02w2izu+Oy4J96kEr1WOkG6nRRlCtOSQ0XujDtmAstq5ytbeIxZKuT9G+KzBmNq5d23D6bkGo8Kg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/static/js/main.js" asp-append-version="true"></script>
</body>
<!--
    Build:         https://github.com/martincostello/apple-fitness-workout-mapper/actions/runs/@(GitMetadata.BuildId)
    Commit SHA:    @(GitMetadata.Commit)
    Commit branch: @(GitMetadata.Branch)
    Timestamp      @(GitMetadata.Timestamp)
-->
</html>
